<section class="dashboard">
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class='bx bx-tachometer' ></i>
                <span class="text">Dashboard</span>
            </div>
        </div>
        <div class="boxes">
            <div class="box box1">
                <i class='bx bx-like' ></i>
                <span class="text">Total Like</span>
                <span class="number">52345</span>
            </div>
    
            <div class="box box2">
                <i class='bx bxs-chat ' ></i>
                <span class="text">Comment</span>
                <span class="number">243535</span>
            </div>
    
            <div class="box box3">
                <i class='bx bx-share ' ></i>
                <span class="text">Share</span>
                <span class="number">52346234</span>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class='bx bx-time' ></i>
                <span>Recent activity</span>
            </div>
        </div>
    </div>
    
</section>
