<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
          <img
            src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
            height="20"
            alt=""
            loading="lazy"
            style="margin-top: 2px;"
          />
        </a>
      </div>
      <!-- Left elements -->
    </div>
  </nav>
  <!-- Navbar -->